div {
  border: 1px solid white;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  background: none;
  border-radius: 10px;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
}

img{
  display: block;
  margin: 0px auto;
 }

ion-toolbar {
  background-color: #ff9f43;
}
